{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<ul>
    {% for article in articles %}
        <li>Name : {{ article.name }}</li>
    {% endfor %}
</ul>
{% endblock %}
